.form_first_container {
  //   width: 35%;

  .form_items {
    margin: 20px 0px;
  }
 
  .image_size {
    width: 100px;
    background: "contain"
  }
  .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: "contain"
  }
}
